* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  background-color: #f0f2f5;
  margin: 0;
  font-size: auto;

  .main {
    display: flex;
    justify-content: center;
	align-items:center;
    width: 100vw;
	margin: clamp(0.5%, 10%, 2rem);
  }
	.logoDiv{
		width: clamp(100px, 45vw, 600px);
		 .heading {
	     width: clamp(30%,100%,70%);
    }
	}
  .logoDiv,
  .loginForm {
	text-align:center;
    height: auto;
    padding: clamp(0.5%, 10%, 2rem);
    font-size: clamp(4px, 1vw, 16px);
  }

	
  .loginForm {
    text-align: center;
    background: #fff;
	border-radius:5px;
  }

  .loginForm input,
  .loginForm button,.heading{
    font-size: inherit;
    width: clamp(100px, 45vw, 600px);
    padding: clamp(0.12rem, 2%, 1rem);
    border-radius: clamp(0.2rem, 2%, 0.4rem);
    margin: 0.3rem;
	
  }

  .loginForm .forgot {
	text-decoration:none;
    color: blue;
	font-weight:bold;
  }

  .loginForm .new-account {
    background-color: green;
    padding: 0.5rem;
    border-radius: 6px;
    display: inline-block;
    margin-top: 0.3rem;
  }
}
